{% extends 'base.html' %}
{% block content %}
            <div class="card" style="width: 18rem;">
            <img src="{{room.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{room.number}}</h5>
                <p class="card-text">Price: {{room.price}}₴ </p>
                {% if room.type_room_id == 1 %}
                    <span class="badge luks">люкс</span>
                {% elif room.type_room_id == 2 %}
                    <span class="badge economy">економ</span>
                {% elif room.type_room_id == 3 %}
                    <span class="badge standard">стандарт</span>
                {% endif %}
                <br>
                <a href="#" class="btn btn-primary">Go to reservation</a>
            </div>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Забронювати</button>
                </div>
            </form>
{% endblock  %}